@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-mint: #b0f2bf;
  --color-brand-teal: #77d4c1;
  --color-brand-blue: #4194b0;
  --color-brand-navy: #1e4f9e;
  --color-brand-deep: #040d59;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lexend", -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
